.content {
    padding-bottom: 0px;
}

.contacts-box {
    display: flex;
    flex-grow: 1;
    padding: 0 0 0 20px;
    background-color: #E9E9E9;
}

.contacts-box-row {
    margin-right: auto;
    padding-top: 23px;
    min-width: 393px;
}

.contacts-box-row h4{
    font-weight: 700;
}
